<p id="notice"><%= notice %></p>

<h1>Groups</h1>


  <div class = "total-records-container">
    <% @groups.each do |group| %>
      <div class="item-record-history">
        <div class = "item-image"><%= image_tag(group.icon) %></div>
          <div>
            <div class="has-text-centered item-record-name"><p>Group name</p> <%= group.name %> </div>
            <div class= " has-text-centered item-created-at "><p>Created at </p> <%= group.created_at.strftime("%A %d %B") %> </div>
          </div>
          <div class="item-button-container">
            <div class=item-button-view>
              <%= link_to "View", group_path(group), class: "has-text is-size-2" %> 
            </div>
          </div>
        <% end %>
      </div>
      <div class=item-form-new-record>
        <h1> New Group</h1>
        <%= render 'form', group: @group %>
      </div>
    </div>
<br>

