<p id="notice"><%= notice %></p>

  <div class="total-container">
    <div class= "item-total-record">
      <h1>Records</h1>
      <h2> <%= @amount_without_group %>  minutes</h2>
    </div>  
  </div>
<div class="total-records-container">
  <% @records_without_group.each do |record| %>
    <div class= item-records-history>

        <div class= item-image> <%= image_tag('unnamed.png') %></div>

          <div class = "record-info-container">
            <div class= item-record-name><p>Record name</p> <%= record.name %> </div>
            <div class= item-time-spent><p>Time spent </p> <%= record.amount %>  minutes</div>
            <div class= item-created-at><p>Created at </p> <%= record.created_at.strftime("%A %d %B") %> </div>
          </div>

          <div class="item-button-container">
            <div class=item-button-view>
              <%= link_to "View", record_path(record), class: "has-text is-size-2" %> 
            </div>
          </div>
    </div>

  <% end %>
    <div class=item-form-new-record>
      <h1> New Record without group</h1>
        <%= render 'form', record: @record %>
    </div>
</div>

