<p id="notice"><%= notice %></p>

<h1>Records</h1>
 <h2><%= @amount %> minutes</h2>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><p>record name | </p><%= record.name %></td>
        <td><p>time spent </p><%= record.amount %> minutes</td>
        <td><%= link_to 'Show', record %></td>
        <td><%= link_to 'Edit', edit_record_path(record) %></td>
        <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<h1> New Record</h1>
<%= render 'form', record: @record %>
