<p id="notice"><%= notice %></p>


<div class="total-record-container">
  <div class= "total-record">
  <h1>Records</h1>
   <h2><%= @amount %> minutes</h2>
  </div>
</div>

  <div>
    <% @records_with_group.each do |record| %>
    <div class= records-history-container>
      <div class=records-history>
          <div class= item-image></div>
          <div class= item-record-name><p>Record name | </p><%= record.name %></td>
          <div class= item-time-spent><p>Time spent </p><%= record.amount %> minutes</td>
          <div class= item-created-at><p>Created at </p> <%= record.created_at.strftime("%A %d %B") %></div>
      </div>
    </div>
        <div><%= link_to 'Show', record %></div>
        <div><%= link_to 'Edit', edit_record_path(record) %></div>
        <div><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  </div>



<h1> New Record</h1>
<%= render 'form', record: @record %>
