<p id="notice"><%= notice %></p>
    <div class="show-page-container">
        <div class="image">
        
        <% @record.groups.each do |group| %>
            <div class="user-photo"> <%= image_tag(group.icon) %></div>
        <% end %>
        </div>
        <div class="record-name">
            <div class="record-name-button"><h1><%= @record.name %></h1></div>
        </div>
        <div class="buttons">
            <div class="edit">
                <%= link_to 'Edit', edit_record_path(@record) %>
            </div>
            <div class="destroy"><%= link_to 'Destroy', @record, method: :delete, data: { confirm: 'Are you sure?' } %></div>
            <div class="back">
                <%= link_to 'Back', records_path %>
            </div>
        </div>
    
        </div>
</p>
